certifi
click
cycler
entrypoints
Flask
fonttools
grpcio==1.44.0
gTTS==2.2.3
gunicorn
h5py==3.6.0
itsdangerous
kiwisolver
matplotlib
mistune
pytz
tensorflow-cpu
urllib3==1.26.8
webencodings==0.5.1
Werkzeug==2.0.3