certifi
click
cycler
entrypoints
Flask
fonttools
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
gTTS==2.2.3
gunicorn
h5py==3.6.0
itsdangerous
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
keras-tuner==1.1.0
kiwisolver
matplotlib
mistune
pandas
playsound==1.2.2
pytz
scikit-learn
scipy
tensorflow
urllib3==1.26.8
webencodings==0.5.1
Werkzeug==2.0.3
